@tailwind base;
@tailwind components;
@tailwind utilities;

.hover_styles:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

[type='text']:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}